# Archivos temporales
*.o
*.exe
*.layout
*.depend

# Carpetas generadas por Code::Blocks
bin/
obj/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de datos que no queremos subir
cliente/LaberintoGuardado.txt
cliente/reglas.txt
server/indice.dat
server/partidas.dat
server/usuarios.dat
